body {
	background-color: black;
}
h1#pink {
	margin-bottom: 0em;
	color: Red;
}
h1.hello {
	color: white;
}
p.one {
	word-spacing: 15mm;
	font-size: 16pt;
	color: yellow;
}
i.one {
	color: yellow;
|
i#pink {
	text-transform: uppercase;
	letter-spacing: .4em;
	font-weight: 40px;
	color: Cyan;
}
